<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
<div class="modal" tabindex="-1" id="modalDelete" th:fragment="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Atenção</h5>
      </div>
      <div class="modal-body">
        <p>Clique em OK para proceder com a exclusão.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button id="ok_confirm" type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>